<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Register</h1>
        </div>
       <app-text-input label="First name" formControlName="firstName"></app-text-input>
       <app-text-input label="Last name" formControlName="lastName"></app-text-input>
       <app-text-input label="Email" formControlName="email"></app-text-input>
       <app-text-input label="Password" type="password" formControlName="password"></app-text-input>

        <!-- <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="text"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Email address</mat-label>
            <input matInput formControlName="email" type="email"
                placeholder="name@example.com" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mb-6">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password"
                placeholder="Password" />
        </mat-form-field> -->

        @if (validationErrors) {
            <div class="mb-3 p-4 bg-red-100 text-red-600">
                <ul class="list-disc px-3">
                    @for (error of validationErrors; track $index) {
                        <li>{{error}}</li>
                    }
                </ul>
            </div>
        }

        <button
        [disabled]="registerForm.invalid"
         mat-flat-button type="submit"
          color="primary" 
        class="w-full py-2"
            >Register</button>
    </form>
</mat-card>